python-docx
accelerate==0.27.2
chromadb==0.4.24
ipykernel==6.29.2
ipython==8.7.0
jupyter==1.0.0
jupyterlab==4.1.3
langchain==0.1.11
langchain-community==0.0.25
langchain-core==0.1.29
langchain-text-splitters==0.0.1
pandas==1.5.2
sentence-transformers==2.5.1
sentencepiece==0.2.0
six
streamlit==1.33.0
--find-links  https://download.pytorch.org/whl/nightly/cu118
torch
transformers==4.37.2
unstructured==0.12.5
streamlit-ace
streamlit-option-menu
faker
pynvml
streamlit-aggrid
fastapi
uvicorn
fastapi-offline


