python-docx
accelerate
chromadb
ipykernel
ipython
jupyter
jupyterlab
langchain
langchain-community
langchain-core
langchain-text-splitters
pandas
sentence-transformers
sentencepiece
six
streamlit
transformers>=4.37.2
unstructured
streamlit-ace
streamlit-option-menu
faker
streamlit-aggrid
fastapi
uvicorn
fastapi-offline
requests
faiss-cpu
aiologger
pytest
pytest-asyncio
httpx
python-jose # contains net resource
aiosqlite
greenlet
passlib
pyvista[all]==0.42.3
trame
vtk
trame-vuetify
trame-vtk
stpyvista
plotly

